*, ::before, ::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-part {
  color: #2196f3;
}

.logo-light {
  color: #ffffff;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.header .logo {
  margin-right: 90px;
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border-color: #2196f3;
  cursor: pointer;
}

.subcribe-form .main-btn, .modalform .main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalform .main-btn {
  align-self: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  padding: 40px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #2196f3;
}

.close-icon {
  width: 11px;
  height: 11px;
}

.modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modalform {
  display: flex;
  flex-direction: column;
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modalform__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalform__label {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modalform__input-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  padding-top: 12px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.modal-form-message::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modalform__input:focus,
.modalform__input:hover,
.modal-form-message:focus,
.modal-form-message:hover {
  outline: none;
  border-color: #2196f3;
  cursor: pointer;
}

.modalform__input:focus + .modalform__input-svg,
.modalform__input:hover + .modalform__input-svg {
  fill: #2196f3;
}

.modal-form-policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-policy-label {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #757575;
}

.modal-form-policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy-label::before {
  background-image: url("../images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.modal-form-policy:focus + .modal-form-policy-label::before {
  border: 2px solid #2196f3;
}

.modal-form-policy-wparrer {
  display: flex;
  align-items: center;
}

.modal-form-policy-label a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation .list {
  display: flex;
}

.menu-item {
  position: relative;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.address {
  margin-left: auto;
}

.address .list {
  display: flex;
}

.address .list-item {
  display: flex;
  align-items: center;
}

.list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover, .list-item:focus, .list-item:active {
  color: #2196f3;
}

.header-contacts {
  color: #757575;
}

.menu-icon {
  fill: #757575;
  margin-right: 10px;
  max-height: 16px;
  max-width: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover .menu-icon,
.list-item:focus .menu-icon {
  fill: #2196f3;
}

.current {
  color: #2196f3;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  transform: translateY(800%);
  background: #2196f3;
  border-radius: 2px;
}

.hero {
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.367;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 700px;
  margin: 0 auto 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advantages-descriprion {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.advantages .list {
  display: flex;
  padding: 94px 0;
}

.advantage-item {
  width: 270px;
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title::before {
  content: "";
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantage-item:nth-child(1) > .advantages-title::before {
  background-image: url("../images/icons/antenna.svg");
}

.advantage-item:nth-child(2) > .advantages-title::before {
  background-image: url("../images/icons/clock.svg");
}

.advantage-item:nth-child(3) > .advantages-title::before {
  background-image: url("../images/icons/diagram.svg");
}

.advantage-item:nth-child(4) > .advantages-title::before {
  background-image: url("../images/icons/astronaut.svg");
}

.skills-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.skills .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

.skills-item {
  position: relative;
}

.skill-label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.skill-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team .card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team img {
  margin-bottom: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}

.teamcards {
  display: flex;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin: 0px 32px 30px;
}

.social-icons .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons li:not(:last-child) {
  margin-right: 10px;
}

.social-icons .link:hover, .social-icons .link:focus {
  background-color: #2196f3;
}

.social-icons .link:hover .social-icon, .social-icons .link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .list {
  display: flex;
  justify-content: space-between;
}

.clients a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients a:hover, .clients a:focus {
  border: 1px solid #2196f3;
}

.clients a:hover .client-icon, .clients a:focus .client-icon {
  fill: #2196f3;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.client-icon {
  fill: #AFB1B8;
  max-height: 45px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.address-block {
  width: 230px;
  margin-right: 70px;
}

.address-block li {
  margin-bottom: 10px;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-block__text, .subscribe-block__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.social-block {
  margin-right: 93px;
}

.social-block .list {
  display: flex;
}

.social-block li:not(:last-child) {
  margin-right: 10px;
}

.social-block .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-block .link:hover, .social-block .link:focus {
  background-color: #2196f3;
}

.subcribe-form {
  display: flex;
}

.subcribe-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
}

.subcribe-form__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-icon, .subscribe-icon {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.subscribe-icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */