.footer {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;

    & .container {
      display: flex;
      align-items: baseline;
    }
  }
  
  .address-block {
    width: 230px;
    margin-right: 70px;
    
    & li {
      margin-bottom: 10px;
    }
  }
  
  .footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #fff;
  }
  
  .footer-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .social-block__text, .subscribe-block__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .social-block {
    margin-right: 93px;

    & .list {
      display: flex;
    }

    & li:not(:last-child) {
      margin-right: 10px;
    }

    & .link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      transition: background-color $main-transition $cubic;
    }

    & .link:hover, & .link:focus {
      background-color: $accent-color;
    }

  }
  
  .subcribe-form {
    display: flex;

    &__input {
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background-color: transparent;
      margin-right: 12px;
      color: rgba(255, 255, 255, 0.6);
      padding: 15px;
    }

    &__input::placeholder {
      font-size: 16px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .footer-icon, .subscribe-icon {
    fill: #fff;
    width: 20px;
    height: 20px;
  }

  .subscribe-icon {
    margin-left: 10px;
  }