.hero {
  padding: 118px 0;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-m1x.jpg');
  background-repeat: no-repeat;
  text-align: center;
  max-width: 480px;
  max-height: 480px;
  margin: 0 auto;

  &-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.367;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 360px;
    margin: 0 auto 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
  min-width: 768px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-t1x.jpg');
  &-title {
  }
}

}