.logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;

    &-part {
        color: $accent-color;
      }

    &-light {
        color: #ffffff;
    }

    .footer & {
        display: block;
        margin-bottom: 20px;
    }

    .header & {
      margin-right: 90px;
    }
}