$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
$accent-color: #2196f3;
$main-descriprion-color: #757575;
$main-title-color: #212121;
$icon-color: #AFB1B8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$main-overlay: rgba(33, 150, 243, 0.9);
$main-transition: 250ms;